<div>
  <h1>Verses</h1>
  <ul>
    <li *ngFor="let verse of verses">
      {{ verse.id }}
      {{ verse.category }}
      {{verse.location}}
    </li>
  </ul>

</div>
<h1>Sermons</h1>
<div class="video-wrapper">
  <div class="video-container">
<iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/BA4buOQ4XzI"
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>
</div>
</div>
<div class="video-wrapper">
  <div class="video-container">
<iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/U4JD0EW8De0"
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>
</div>
</div>
<div class="video-wrapper">
  <div class="video-container">
<iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/39kvqf-rl4k"
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>
</div>
</div>
<p>Create Journal Entry 
  <br>
    <button routerLink="/journal">Go to Journal</button>
  </p>