<div>
  <h1>Verses</h1>
  <ul>
    <p *ngFor="let verse of verses">
      {{ verse.content }}
      <br>
      {{verse.location}}
    </p>
  </ul>
</div>
<h1>Sermons</h1>
<div class="video-wrapper">
  <div class="video-container">
<iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/dMpzvw4yhB8"
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>
</div>
</div>
<div class="video-wrapper">
  <div class="video-container">
<iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/pQJxc9dUzZA"
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>
</div>
</div>
<div class="video-wrapper">
  <div class="video-container">
<iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/KF7PuokkIrw"
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>
</div>
</div>
<p>Create Journal Entry 
  <br>
    <button routerLink="/journal">Go to Journal</button>
  </p>
