.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 60px;
    border: 20px solid lightblue;
    background-color: lightblue;
    border-radius: 10px;
  }
  
  .nav-links li a {
    text-decoration: none; 
    color: white; 
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  
  .nav-links li a:hover {
    color: gray; 
  }

  h1{
    border: solid;
    text-align: center;
    background-color: aquamarine;
    border: 20px;
    padding: 30px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }